.DS_Store/
.ipynb_checkpoints/
.SECReports.zip/Bash Scripts and Python Scripts/venv/
Bash Scripts and Python Scripts/0001193125-17-056504 2.txt
.vscode/
Bash Scripts and Python Scripts/outputs.txt
Bash Scripts and Python Scripts/0001193125-17-056504 2.txt
Bash Scripts and Python Scripts/document.txt
Bash Scripts and Python Scripts/paragraphs.txt
Bash Scripts and Python Scripts/venv/
Bash Scripts and Python Scripts/Parse_Report.R
